# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Environment variables
.env

# Logs
*.log

# Model files
*.pt
*.pth
*.ckpt

# Dataset files (optional if large)
data/
datasets/

# IDE files
.vscode/
.idea/

# Build files
build/
dist/

# Matplotlib cache
.matplotlib/

# PyTorch compiled files
*.so